.card{
    margin: 20px;
    border: 1px white solid;
    padding: 10px;
    box-shadow: 1px 1px 10px rgb(23, 156, 156);
    width: 200px;
    height: 250px;
    display: inline-block;
    text-align: center;
}
.card > img{
    border-radius:50% ;
    margin-bottom: 10px;
    height: 100px;
    width: auto;
}
.card > h2{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(243, 162, 162);
}
.card > p{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(6, 33, 243);
}